.SignUp {
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #495057;
  margin-top: 20px;
}

.SignUp Button {
  width: 100%;
  margin-top: 20px;
  height: 45px;
}
